PORT=4000
DB_PATH=./data/layoffchart.sqlite
SCRAPE_INTERVAL_CRON=0 */6 * * *
CORS_ORIGIN=http://localhost:5173
AIRTABLE_EMBED_URL=https://airtable.com/embed/app1PaujS9zxVGUZ4/shroKsHx3SdYYOzeh?backgroundColor=green&viewControls=on
STATS_API_URL=https://layoffsfyi-production.up.railway.app/api/annual-stats
